body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 18px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_7aqRGsWV1cSIURRuXLFberTr5Qj3VWZYJg&usqp=CAU);
}

section {
  width: 80vw;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #0a0a23;
}


h1, p {
  margin: 1em auto;
  text-align: center;
}

h1 {
  padding-top: 2em;
}

form {
  width: 80vw;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 1em;
}

fieldset {
  border: none;
  padding: 1rem 0;
  
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 99%;
  min-height: 2em;
}

input, textarea {
  background-color: #FDFDBD;
  border: 1px solid #0a0a23;
  color: #000000;
}

#dropdown {
  background-color: #FDFDBD;
  color: #000000;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.2rem;
  background-color: #47B5FF;
  border-color: white;
  min-width: 200px;
  font-family: Helvetica;
}

.recommend {
  text-align: left;
  font-size: 20px;
}
