body {
    background-color: #F8EDE3;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;  
    margin-right: auto;  
}

.header {
    background-color: #DFD3C3; 
    text-align: center;
    padding: 10px;
}

#title {
    font-family: Impact, fantasy;
    font-size: 50px;
    font-weight: 500;
    margin: 30px auto;
}

.header p {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

#img-div {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 25px;
}

#img-caption {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#tribute-info {
    background-color: #DFD3C3; 
    padding: 30px;
}

.timeline-header {
    text-align: center;
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
}


ul {
    display: block;
    max-width: 550px;
    margin: auto;
    text-align: left;
    font-size: 17px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 30px;
}

blockquote {
    max-width: 560px;
    margin: auto;
    text-align: left;
    font-size: 17px;
    font-family: Cursive, Helvetica, Arial, sans-serif;
    font-style: italic;
}

.footer {
    max-width: 700px;
    margin: 50px auto 20px auto;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}


