:root {
    --white: #FDF4F5;
    --red: #be3144;
    --grey: #454545;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* navbar */

#navbar {
    width: 100vw;
    height: 8vh;
    background-color: var(--red);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    align-items: center;
    padding: 10px;
}

#navbar li {
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2%;
}

#navbar li {
    display: list-item;
}

#navbar a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: var(--white);
    padding: 1.5rem;
}

#navbar a:hover {
    color: #000000;
}

/* welcome-section */

#welcome-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    background: linear-gradient(90deg,  var(--grey) , #1e2023); 
}

#yusha {
    width: 15%;
    margin-top: 12%;
    border-radius: 50%;
}

#yusha:hover {
    transform: scale(1.3);
    transition: transform 1s ease;
}

#welcome-section h1 {
    color: var(--white);
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
    margin-bottom: 0;
}

#welcome-section p {
    font-size: 1.7rem;
    font-family: 'Poppins' , sans-serif;
    font-weight: 200;
    font-style: italic;
    color: var(--red);
    margin-top: 0;
}



/* projects */

#projects {
    padding-top: 11%;
    overflow: hidden;
}

.project {
    background: var(--grey);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.projects-section {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 10rem 2rem;
    background: #7D9D9C;
}

.projects-section-header {
    max-width: 750px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--white);
    font-size: 3rem;
    color: var(--white);
    font-family: 'Raleway' , sans-serif;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

#projects a {
    height: 40vh;
    width: 20vw;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.project-image {
    height: calc(100% - 3.5rem);
    width: 100%;
    object-fit: cover;
}

#projects p, #show-all {
    font-family: 'Poppins' , sans-serif;
}

.code {
    color: var(--grey);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.btn-show-all {
    padding: 0.5%;
    font-size: 1.5rem;
    background: var(--grey);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    color: var(--white);
    background: var(--red);
}


/* profile-links */

#contact-info {
    width: 100vw;
    height: 90vh;
    background: #303841;
    top: -1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins' , sans-serif;
    color: var(--white);
    border-bottom: solid 5px var(--red);
}

.contact-head{
    padding-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}

.contact-head > h2{
    font-size: 60px;
    margin-bottom: 0;
}

.contact-head > p{
    font-size: 25px;
    margin-bottom: 0;
    font-weight: lighter;
    font-style: italic;
    margin-top: 0;
}

.contact-body {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.profile-links {
    color: var(--white);
    font-size: 1.8rem;
    transition: transform 0.3s ease-out;
}

.profile-links:hover {
    transform: translateY(8px);
}

/* footer */

footer {
    width: 100vw;
    height: 10vh;
    background: #303841;
    padding-top: 1%;
    color: var(--white);
    font-family: 'Poppins' , sans-serif;
    font-size: 17px;
}

footer p {
    position: absolute;
    right: 5%;
}

footer a {
    color: var(--white);
    text-decoration: none;
}


@media (max-width: 420px) {
    footer {
        background: #31222f;
    }
  }